#footer-container {
    background-color: rgb(230, 228, 228);
    padding: 40px;
    margin-top: 40px;
}

.heading {
    align-items: center;
    gap: 12px;
}

.text {
    font-size: 14px;
    letter-spacing: 2px;
    color: darkslategray;
    font-weight: bold;
    padding-top: 20px
}

.line {
    width: 100px;
    height: 2px;
    background-color: rgb(161, 156, 156);
    margin-top: 20px;
}

#section1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

#footer1 {
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
    font-size: 18px;
}

#footer2 {
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
    font-size: 18px;
}

#footer3 {
    font-family: Book Antiqua;
    color: black;
    font-size: 18px;
    text-align: center;
}