#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
   

}

#header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 50px;
}

#nav1 {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-family: Californian FB;
    margin-right: 20px;
    color: blue;
}