
.heading {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text {
  font-size: 14px;
  letter-spacing: 2px;
  color: darkslategray;
  font-weight: bold;
  padding-top:20px
}

.line {
  width: 100px;
  height: 2px;
  background-color:rgb(161, 156, 156);
  margin-top: 20px;
}
.content {
  font-size: 15px;
  padding: 15px;
  color: lightseagreen;
  font-family:Book Antiqua;
}

